@media screen and (max-width:360px) {
    .header {
        $header: &;

        &__top {
            #{$header}__wrapper {
                flex-direction: column;
                width: 100%;
            }
        }

        &__personal {
            max-width: 156px;
            width: 100%;
            margin-right: 0px;
        }

        &__burger-btn {
            top: 10px;
            right: 10px;
        }

        &__social {
            margin-top: 50px;
            width: 126px;
        }

        &__personal::after {
            width: 100px;
            right: 30px;
            top: 51px;
        }
    }

    .personal {
        $personal: &;

        &__list {
            display: flex;
            justify-content: space-between;
            width: 100%;

            #{$personal}__item {
                margin-right: 0px;
            }
        }
    }

    .social {
        $social: &;

        &__list {
            display: flex;
            justify-content: space-between;
            width: 100%;

            #{$social}__item--top {
                margin-right: 0px;
            }
        }
    }

    .about {
        &__btn {
            width: 275px;
            font-size: 20px;
            padding: 0px 30px;
        }
    }

    .reviews {
        $reviews: &;

        &__desc {
            #{$reviews}__text {
                max-width: 340px;
                text-align: center;
            }
        }
    }

    .story {
        $story: &;

        &__wrapper {
            max-width: 360px;
            align-items: center;

            #{$story}__text {
                max-width: 340px;
                text-align: center;
            }
        }
    }

    .feedback {
        &__social {
            margin: 30px 0 0 0px;
            justify-content: center;

            &::after {
                display: none;
            }
        }

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__newsletter{
            width: 300px;
        }
    }
}