@media screen and (max-width:1200px) {
    .header {
        $header: &;

        &__top {
            #{$header}__navigation {
                flex-direction: column;
                margin-top: 80px;
            }
        }

        &__wrapper {
            margin-top: 35px;
        }

        &__btn {
            margin-top: 70px;
        }
    }

    .about {
        $about: &;

        &__wrapper {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            padding: 70px 70px;

            #{$about}__wrap-img {
                transform: translate(99px, -74px);
                -webkit-transform: translate(99px, -74px);
                -moz-transform: translate(99px, -74px);
                -ms-transform: translate(99px, -74px);
                -o-transform: translate(99px, -74px);

                #{$about}__img {
                    max-width: 80%;
                }
            }
        }

        &__structure {
            z-index: 2;
        }
    }


    .blog {
        $blog: &;

        &__excerpt {
            max-height: 272px;

            #{$blog}__subtitle {
                &::after {
                    display: none;
                }
            }

            #{$blog}__text {
                #{$blog}__link {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }







    .footer {
        $footer: &;

        &__wrapper {
            flex-wrap: wrap;
            align-items: center;

            #{$footer}__logo {
                margin-top: 10px;
            }
        }

        &__info {
            margin-top: 30px;
        }

        &__payment {
            margin-top: 30px;
            text-align: center;
        }

        &__feedback {
            $feedback: &;
            margin-top: 30px;
        }
    }

    .feedback {
        &__title {
            text-align: center;
        }
    }
}