@media screen and (max-width:1400px) {

    .header {
        $header: &;

        &__top {

            #{$header}__navigation {
                justify-content: space-around;
                margin-top: 80px;
            }
        }

        &__btn {
            margin-top: 70px;
        }
    }

    .about {
        $about: &;

        &__wrapper {
            #{$about}__wrap-img {
                /*  -webkit-transform: translate(-101px, 65px);
            -moz-transform: translate(-101px, 65px);
            -ms-transform: translate(-101px, 65px);
            -o-transform: translate(-101px, 65px);
            transform: translate(-101px, 65px); */
                position: relative;
                top: 100px;
                left: 60px;

                #{$about}__img {
                    max-width: 80%;
                }
            }
        }
    }

    .blog {
        $blog: &;

        &__excerpt {
            #{$blog}__subtitle {
                &::after {
                    display: none;
                }
            }
        }
    }
}