@media screen and (max-width:1400px) {

    .header {
        $header: &;

        &__top {

            #{$header}__navigation {
                justify-content: space-around;
                margin-top: 80px;
            }
        }

        &__btn {
            margin-top: 70px;
        }
    }

    .about {
        $about: &;

        &__wrapper {
            #{$about}__wrap-img {
                transform: translate(70px, 80px);
                -webkit-transform: translate(70px, 80px);
                -moz-transform: translate(70px, 80px);
                -ms-transform: translate(70px, 80px);
                -o-transform: translate(70px, 80px);

                #{$about}__img {
                    max-width: 80%;
                }
            }
        }
    }

    .blog {
        $blog: &;

        &__wrapper {

            #{$blog}__excerpt {

                #{$blog}__subtitle {

                    &::after {
                        width: 325px;
                        left: -85px;
                        background-size: 625px 12px;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}