@media screen and (max-width:576px) {

    h2,
    h3 {
        text-align: center;
    }

    .header {
        $header: &;
        $bg-color: #0aa566;

        &__top {

            #{$header}__navigation {
                display: none;
                flex-direction: column-reverse;
                justify-content: flex-end;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding-top: 120px;
                background-color: $bg-color;
                z-index: 111;
                margin-top: 0;
            }

        }

        &__wrapper {
            justify-content: center;
            margin-top: 100px;
        }

        &__burger-btn {
            display: block;
        }

        &__nav {
            margin-top: 100px;
        }
    }



    .nav {
        $nav: &;

        &__list {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 400px;

            #{$nav}__item {
                margin: 0;
            }
        }
    }

    .personal {
        $personal: &;

        &__list {
            #{$personal}__item {
                margin-right: 40px;
            }
        }
    }

    .smoothie {
        &__grid-container {
            grid-template-columns: 1fr 1fr;
        }
    }

    .about {
        $about: &;

        &__structure {
            #{$about}__title--green {

                &::after {
                    display: none;
                }
            }
        }

        &__btn {
            width: 375px;
        }
    }

    .story {
        $story: &;

        &__wrapper {
            max-width: 420px;
            align-items: center;

            #{$story}__text {
                text-align: center;
            }
        }

        &__picture {
            text-align: center;

            &::before {
                display: none;
            }
        }

        &__img {
            max-width: 100%;
        }

    }
    .reviews{
        $reviews: &;

        &__desc{
            #{$reviews}__text{
                max-width: 420px;
            }
        }
    }

    .blog {
        $blog: &;

        &__wrapper {
            #{$blog}__excerpt {
                margin: 0px 0 0 0px;
                max-width: 420px;

                #{$blog}__subtitle {
                    &::after {
                        display: none;
                    }
                }

                #{$blog}__text {
                    margin: 20px 0 0 0px;
                    text-align: center;
                }
            }

            #{$blog}__img {
                max-width: 100%;
            }
        }
    }

    .footer__feedback {
        max-width: 348px;
    }

    .footer {
        &__button {
            margin: -44px 63px 0 0;
        }

        &__wrapper {
            flex-direction: column;
        }
    }

    .feedback {

        &__form {
            font-size: 12px;
        }

        &__social {
            margin: 30px 0 0 35px;

            &::after {
                display: none;
            }
        }
    }
}