@font-face {
    font-family: MuliExtraBold;
    src: url(../fonts/muli-extrabold.ttf);
}

@font-face {
    font-family: MuliRegular;
    src: url(../fonts/muli-regular.ttf);
}

@font-face {
    font-family: Muli-Bold;
    src: url(../fonts/muli-bold.ttf);
}

@font-face {
    font-family: Muli-Italic;
    src: url(../fonts/muli-italic.ttf);
}