.btn {
    padding: 0 34px;
    border-radius: 35px;
    font-size: 24px;
    font-family: 'MuliExtraBold', sans-serif;
    border: none;
    color: #fff;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}