.nav {
    $nav: &;
    $link-color: white;

    &__list {
        display: flex;
        list-style: none;

        #{$nav}__item {
            margin-right: 35px;

            #{$nav}__link {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.6rem;
                font-family: 'MuliExtraBold', sans-serif;
                color: $link-color;
            }
        }
    }
}