.feedback {
    $feedback: &;
    $title-color: white;
    $form-color: #6d450c;
    $btn-color: #6d450c;

    &__title {
        font-size: 2.6rem;
        color: $title-color;
    }

    &__form {
        font-family: 'Muli-Bold';
        font-size: 1.7rem;
        color: $form-color;
        position: relative;
    }

    &__newsletter {
        margin-top: 30px;
        padding: 18px 0px 20px 55px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        -ms-border-radius: 35px;
        -o-border-radius: 35px;
        border-radius: 35px;
        background-image: url(../images/footer/footer-icon-mail.png);
        background-repeat: no-repeat;
        background-position: 20px center;
    }

    &__social {
        display: flex;
        position: relative;
        margin: 30px 0 0 190px;

        &::after {
            content: '';
            width: 48px;
            height: 43px;
            position: absolute;
            top: -15px;
            left: -62px;
            background-image: url(../images/footer/footer_icon_arrow.png)
        }


    }

    &__btn {
        margin: 4px 40px 0 0;
        outline: none;
        border: 0;
        background: transparent;
        cursor: pointer;
        font-family: 'MuliExtraBold', sans-serif;
        font-size: 1.8rem;
        color: $btn-color;
    }

    &__list {
        list-style: none;
        display: flex;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        width: 35px;
        height: 35px;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;

        &:hover {
            -o-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            -moz-transform: translateY(-20px);
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
        }
    }

}