.footer {
    $footer: &;
    $bg-color: #f6a83d;
    $bg-color-botton: #6c2c1c;
    $color-copy: #af8a82;
    $color-btn: white;

    background-color: $bg-color;


    &__wrapper {
        display: flex;
        justify-content: space-around;
        padding-top: 75px;

        #{$footer}__logo {
            margin-top: 85px;
        }
    }

    &__payment {
        display: flex;
        flex-direction: column;
    }

    &__feedback {
        width: 495px;
        height: 175px;
        display: flex;
        flex-direction: column;
    }

    &__bottom {
        margin-top: 120px;
        background-color: $bg-color-botton;
        display: flex;
        align-items: center;
        position: relative;

        #{$footer}__copyright {
            margin: 0 auto;
            color: $color-copy;
            font-family: MuliRegular;
            font-size: 1.3rem;
            padding: 20px 20px;
        }
    }

    &__button {
        margin: 0 160px 0 0;
        position: absolute;
        right: 0;
    }



    &__btn {
        position: relative;
        outline: none;
        border: 0;
        background: transparent;
        font-family: 'Muli-Bold';
        font-size: 1.6rem;
        color: $color-btn;

        &::after {
            content: '';
            width: 50px;
            height: 50px;
            position: absolute;
            right: -53px;
            top: -43px;
            background-image: url(../images/footer/footer_botton-arrow.png);
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -ms-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s;
        }

        &:hover::after {
            cursor: pointer;
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            -o-transform: translateY(-10px);
            transform: translateY(-10px);
        }
    }
}