.info {
    $info: &;

    &__title {
        font-size: 2.6rem;
        color: #fff;

    }

    &__list {
        font-family: 'Muli-Bold';

        line-height: 1.8;
        list-style: none;

        #{$info}__link {
            text-decoration: none;
            color: #6d450c;
            font-size: 1.8rem;
        }
    }


}