.payment {
    $payment: &;

    &__title {
        font-size: 2.6rem;
        color: #fff;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        width: 250px;
        flex-wrap: wrap;

        #{$payment}__inner {
            align-self: center;
            margin: 10px 15px 0 0;
        }
    }
}