.blog {
    $blog: &;
    $txt-color: #3e3e3e;
    $link-color: #1e1e1e;
    $meta-color: #1e1e1e;
    $title-color: #f7ae3b;
    $subtitle-color: #f2612d;

    padding: 90px 0 190px 0;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        #{$blog}__title {
            font-size: 5rem;
            color: $title-color;
        }

        #{$blog}__img {
            margin-top: 45px;
        }
    }

    &__excerpt {
        display: flex;
        flex-direction: column;
        max-width: 539px;
        align-self: center;
        margin: 98px 0 0 60px;

        /* width: 645px; */
        #{$blog}__subtitle {
            font-family: 'MuliExtraBold', sans-serif;
            font-size: 2.9rem;
            color: $subtitle-color;
            margin: 50px 0 0 0px;
            position: relative;

            &::after {
                content: '';
                width: 625px;
                height: 12px;
                position: absolute;
                top: -55px;
                left: -110px;
                z-index: -1;
                background-repeat: no-repeat;
                background-image: url(../images/blog/icon-line_blog.png);
            }
        }

        #{$blog}__meta {
            margin-top: 20px;
            font-size: 1.6rem;
            font-family: 'MuliRegular';
            color: $meta-color;
        }

        #{$blog}__text {
            margin: 20px 0 0 58px;
            font-size: 1.8rem;
            color: $txt-color;

            #{$blog}__link {
                position: relative;
                text-decoration: none;
                font-size: 1.8rem;
                font-family: 'Muli-Bold';
                color: $link-color;

                &::after {
                    content: '';
                    position: absolute;
                    top: 12px;
                    right: -35px;
                    width: 18px;
                    height: 10px;
                    background-image: url(../images/blog/icon-arrow_blog.png);
                }
            }
        }
    }
}