.products {
    $products: &;

    $bg-color-img1: #662e18;
    $bg-color-img2: #18846d;
    $bg-color-img3: #f8af3f;
    $bg-color-img4: #c5461b;
    $border-color: white;
    $subtitle-color: white;
    $item-color: white;

    &__wrapper {
        display: flex;
        overflow-x: scroll;
        min-width: 100%;
    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 480px;
        padding: 130px 0 80px 0;

        #{$products}__subtitle {
            margin-top: 30px;
            font-family: 'Muli-Bold';
            font-size: 2.4rem;
            color: $subtitle-color;
        }

        #{$products}__item {
            margin-top: 10px;
            font-family: 'Muli-Italic';
            font-size: 2.1rem;
            color: $item-color;
        }

        #{$products}__btn {
            width: 190px;
            height: 60px;
            position: relative;
            padding-right: 110px;
            margin-top: 50px;
            font-size: 2.1rem;
            background-color: inherit;
            border: 2px solid $border-color;

            &:hover {
                cursor: pointer;
            }

            &::after {
                content: '';
                position: absolute;
                top: 20px;
                right: 30px;
                width: 33px;
                height: 17px;
                background-image: url(../images/products/icon-arrow_products.png);
            }
        }
    }

    &__column--chocolate {
        background-color: $bg-color-img1;

    }

    &__column--vegan {
        background-color: $bg-color-img2;
    }

    &__column--lemon {
        background-color: $bg-color-img3;

    }

    &__column--turmeric {
        background-color: $bg-color-img4;

    }
}